.modal {
  margin: 15rem 0;

  .modal-dialog {
    min-width: 60rem;
    font-size: 2rem;
    box-shadow: 1px 5px 10px 2px rgba(0, 0, 0, 0.541);

    .modal-header {
      position: relative;

      padding: 4.2rem 1.6rem;

      overflow: hidden;

      background-color: #009688;
      color: white;

      .modal-title {
        margin: 0 auto;
      }

      .btn-close {
        position: absolute;
        top: 0;
        right: 0;
        padding: 2rem;

        text-align: center;
        font-size: 1rem;
        color: white;

        &:hover {
          background-color: rgb(218, 218, 218);
          color: black;
        }
      }
    }

    .form-body {
      padding: 0 1.6rem;

      font-size: 1.5rem;
      font-family: "Lato", serif;

      .col-form-label {
        margin: 1rem 0;
      }

      .form-control {
        height: 4rem;
        font-size: 1.5rem;

        &:focus {
          box-shadow: 0 0 2px 1px #009688;
        }
      }

      .btn-pay {
        width: 100%;
        height: 5rem;
        margin: 1.6rem auto 3.2rem;

        border-radius: 10px;
        background: #009688;
        color: white;

        transition: all 0.25s ease-in-out;
        will-change: background-color, color;

        &:hover {
          background-color: rgb(218, 218, 218);
          color: black;
        }
      }
    }

    .modal-footer {
      border-top: none;
      position: relative;

      margin: 0 1.6rem;
      padding: 0 0 1.6rem;
      .btn-secondary {
        position: absolute;
        left: 0;

        width: 8.5rem;
        height: 3.5rem;
        text-align: center;

        font-family: "Lato", serif;
        font-size: 1.7rem;
        border-radius: 0;
        border: none;

        color: white;
        background-color: #f44336;

        &:hover {
          background-color: rgb(218, 218, 218);
          color: black;
        }
      }

      .help {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        > a {
          text-decoration: underline;

          &:hover {
            color: rgb(2, 54, 131);
          }
        }
      }
    }
  }
}
