.header {
  height: $header-h;

  background-color: black;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

  @include flex(center, space-between);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;

  .nav {
    @include flex(center, start);

    .nav-items {
      position: relative;
      > a {
        display: inline-block;
        height: $header-h;
        line-height: $header-h;

        padding: 0 2.4rem;

        font-size: 1.8rem;
        color: white;
        text-transform: uppercase;
      }

      &:hover > a {
        background-color: $color-hover;
        color: black;
      }

      &:hover .sub-nav {
        display: block;
      }
    }
  }

  .sub-nav {
    width: 16rem;

    display: none;
    position: absolute;
    top: 100%;

    background-color: white;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);

    .sub-items {
      > a {
        display: inline-block;
        width: 100%;

        padding: 1.2rem 2.4rem;
        color: rgb(0, 0, 0);
        text-transform: capitalize;
      }

      &:hover > a {
        background-color: $color-hover;
      }
    }
  }
  .search {
    width: 6.2rem;
    height: 100%;
    padding: 1.2rem 2.4rem;

    color: white;

    font-size: 1.5rem;
    &:hover {
      cursor: pointer;
      background-color: #f44336;
    }
  }
}
